.sub {
	width : 100%;
	margin : 0 auto;
}
.sub > .sub_visual {
	background-image: url("/project/img/sub_visual.jpg");
	position:relative;
	background-size: cover;
}
.slogan {
	font-size:40px;
	text-align:center;
	line-height:300px;
	color:#fff;
	width:100%;
}
.sub {
	position:relative;
}
.sub > .size {
	width: 1200px;
	margin : 30px auto;
}
.sub > .size > .box {
	padding:0 20px;
	background-image: url('/project/img/company.png');
	background-repeat:no-repeat;
	padding-left:450px;
}
.sub > .size > .box p {
	font-size:20px;
	padding-bottom:15px;
}
.sub > .size > .box .title {
	font-size:25px;
	color:#4a4fe8;
}